@charset "ISO-8859-1";

.mem-login-con-body{
	display: flex;
}
.side-image {
	background-image: url(https://images.unsplash.com/photo-1608099269227-82de5da1e4a8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1885&q=80);
	background-size: cover;
    background-position: bottom;
	height: 90vh;
	width: 40%;
}

.mem-login-form{
	margin: 100px;
}