<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>ncsLibrary</display-name>
	<servlet>
		<description>
		</description>
		<display-name>AdminLogin</display-name>
		<servlet-name>AdminLogin</servlet-name>
		<servlet-class>com.ncs.controller.AdminLogin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddBook</display-name>
		<servlet-name>AddBook</servlet-name>
		<servlet-class>com.ncs.controller.AddBook</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ViewLoanBooks</display-name>
		<servlet-name>ViewLoanBooks</servlet-name>
		<servlet-class>com.ncs.controller.ViewLoanBooks</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RemoveBook</display-name>
		<servlet-name>RemoveBook</servlet-name>
		<servlet-class>com.ncs.controller.RemoveBook</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>MemRegister</display-name>
		<servlet-name>MemRegister</servlet-name>
		<servlet-class>com.ncs.controller.MemRegister</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>MemLogin</display-name>
		<servlet-name>MemLogin</servlet-name>
		<servlet-class>com.ncs.controller.MemLogin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>BorrowBook</display-name>
		<servlet-name>BorrowBook</servlet-name>
		<servlet-class>com.ncs.controller.BorrowBook</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ViewAllBooks</display-name>
		<servlet-name>ViewAllBooks</servlet-name>
		<servlet-class>com.ncs.controller.ViewAllBooks</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ReturnBook</display-name>
		<servlet-name>ReturnBook</servlet-name>
		<servlet-class>com.ncs.controller.ReturnBook</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ViewMyLoanBooks</display-name>
		<servlet-name>ViewMyLoanBooks</servlet-name>
		<servlet-class>com.ncs.controller.ViewMyLoanBooks</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddToFav</display-name>
		<servlet-name>AddToFav</servlet-name>
		<servlet-class>com.ncs.controller.AddToFav</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RemoveFav</display-name>
		<servlet-name>RemoveFav</servlet-name>
		<servlet-class>com.ncs.controller.RemoveFav</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ViewAllFav</display-name>
		<servlet-name>ViewAllFav</servlet-name>
		<servlet-class>com.ncs.controller.ViewAllFav</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ViewMembers</display-name>
		<servlet-name>ViewMembers</servlet-name>
		<servlet-class>com.ncs.controller.ViewMembers</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateDetails</display-name>
		<servlet-name>UpdateDetails</servlet-name>
		<servlet-class>com.ncs.controller.UpdateDetails</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ViewLoanDetails</display-name>
		<servlet-name>ViewLoanDetails</servlet-name>
		<servlet-class>com.ncs.controller.ViewLoanDetails</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SendEmail</display-name>
		<servlet-name>SendEmail</servlet-name>
		<servlet-class>com.ncs.controller.SendEmail</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>VerifyDetails</display-name>
		<servlet-name>VerifyDetails</servlet-name>
		<servlet-class>com.ncs.controller.VerifyDetails</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ResetPassword</display-name>
		<servlet-name>ResetPassword</servlet-name>
		<servlet-class>com.ncs.controller.ResetPassword</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminLogin</servlet-name>
		<url-pattern>/AdminLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddBook</servlet-name>
		<url-pattern>/AddBook</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewLoanBooks</servlet-name>
		<url-pattern>/ViewLoanBooks</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RemoveBook</servlet-name>
		<url-pattern>/RemoveBook</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MemRegister</servlet-name>
		<url-pattern>/MemRegister</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MemLogin</servlet-name>
		<url-pattern>/MemLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BorrowBook</servlet-name>
		<url-pattern>/BorrowBook</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewAllBooks</servlet-name>
		<url-pattern>/ViewAllBooks</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReturnBook</servlet-name>
		<url-pattern>/ReturnBook</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewMyLoanBooks</servlet-name>
		<url-pattern>/ViewMyLoanBooks</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddToFav</servlet-name>
		<url-pattern>/AddToFav</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RemoveFav</servlet-name>
		<url-pattern>/RemoveFav</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewAllFav</servlet-name>
		<url-pattern>/ViewAllFav</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewMembers</servlet-name>
		<url-pattern>/ViewMembers</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateDetails</servlet-name>
		<url-pattern>/UpdateDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewLoanDetails</servlet-name>
		<url-pattern>/ViewLoanDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SendEmail</servlet-name>
		<url-pattern>/SendEmail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VerifyDetails</servlet-name>
		<url-pattern>/VerifyDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResetPassword</servlet-name>
		<url-pattern>/ResetPassword</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
